.interior-store-index-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  margin: 0;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1360px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  right: 0;
  left: 0;
  .interior-store-index-header-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
    &:hover {
      color: #666;
    }
  }
  .interior-store-index-header-nav {
    position: relative;
    width: 28px;
    height: 20px;
    cursor: pointer;
    z-index: 1001;
    .interior-store-index-header-nav-line {
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #333;
      border-radius: 2px;
      transition: all 0.5s ease;
      &:nth-child(1) {
        top: 6px;
      }
      &:nth-child(2) {
        top: 14px;
      }
    }
    &.active {
      .interior-store-index-header-nav-line {
        background-color: #fff;
        &:nth-child(1) {
          top: 70%;
          transform: translateY(-50%) rotate(45deg);
        }
        &:nth-child(2) {
          bottom: 40%;
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }
  }
}
.interior-store-index-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 998;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}
.interior-store-index-side-menu {
  position: fixed;
  padding-top: 30px;
  left: -300px;
  width: 300px;
  height: 100%;
  transition: left 0.5s ease;
  z-index: 999;
  &.active {
    left: 30px;
  }
  .interior-store-index-menu-item {
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    display: block;
    &:hover {
      color: #ccc;
    }
  }
}
