.about-main{
  padding: 2rem 0;
  width: 600px;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  .about-title{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
  }
  .about-paragraph{
    font-size: 0.875rem;
    line-height: 1.5;
    color: #333;
    margin-bottom: 122px;
    &:first-of-type{
      margin-bottom: 2rem;
    }
  }
}