.interior-store-index-header-link{
  text-decoration: none;
}

.products-index-title{
  font-size: 14px;
  margin: 40px 0 30px;
  font-weight: 400;
}

.interior-store-index-pagination{
  display: flex;
  justify-content: center;
  margin: 30px 0;
  gap: 30px;
}