body {
  max-width: 1360px;
  padding: 0 40px;
  margin: 0 auto;
  font-family: "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;

  .interior-store-index-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    .interior-store-index-main {
      flex: 1;
      .interior-store-index-items {
        .interior-store-index-items-list {
          list-style: none;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 2rem;
          @media screen and (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
          }
          .interior-store-index-item-link {
            text-decoration: none;
            color: #000;
            transition: color 0.3s ease;
            &:hover {
              color: #666;
            }

            .interior-store-index-item {
              img {
                transition: color 0.3s ease;
                &:hover {
                  opacity: 0.8;
                }
              }
              .interior-store-index-item-name {
                margin-top: 1rem;
                font-size: 12px;
              }
              .interior-store-index-item-price {
                font-size: 12px;
              }
            }
          }
        }
      }
      .interior-store-index-more {
        margin: 40px 0 121px;
        text-align: center;
        a {
          text-decoration: none;
          color: #333;
          font-weight: 400;
          transition: color 0.3s ease;
          &:hover {
            color: #666;
          }
        }
      }
    }
  }
}
